components/axis2-repo-mgt/org.wso2.carbon.repomanager.axis2.ui/src/main/resources/Axis2RepoManager.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://axis2.repomanager.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2139="http://json.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2137="http://axis2.repomanager.carbon.wso2.org/xsd" xmlns:ax2135="http://io.java/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://axis2.repomanager.carbon.wso2.org">
    <wsdl:documentation>Axis2RepoManager</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://axis2.repomanager.carbon.wso2.org/xsd">
            <xs:complexType name="Axis2ArtifactUploadData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary" />
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DirectoryStructureMetaData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="directoryStructureJSON" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="reloadRequired" type="xs:boolean" />
                    <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="IOException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2138="http://axis2.repomanager.carbon.wso2.org/xsd" xmlns:ax2140="http://json.org/xsd" xmlns:ax2136="http://io.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://axis2.repomanager.carbon.wso2.org">
            <xs:import namespace="http://io.java/xsd" />
            <xs:import namespace="http://axis2.repomanager.carbon.wso2.org/xsd" />
            <xs:import namespace="http://json.org/xsd" />
            <xs:element name="IOException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IOException" nillable="true" type="ax2135:IOException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadArtifact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="artifactUploadDataList" nillable="true" type="ax2137:Axis2ArtifactUploadData" />
                        <xs:element minOccurs="0" name="fileUploadDir" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadArtifactResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="restartAxis2ServerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="JSONException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="JSONException" nillable="true" type="ax2140:JSONException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDirectoryStructureResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2137:DirectoryStructureMetaData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteLib">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="libPath" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteLibResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://json.org/xsd">
            <xs:complexType name="JSONException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cause" nillable="true" type="xs:anyType" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="restartAxis2ServerRequest" />
    <wsdl:message name="restartAxis2ServerResponse">
        <wsdl:part name="parameters" element="ns:restartAxis2ServerResponse" />
    </wsdl:message>
    <wsdl:message name="uploadArtifactRequest">
        <wsdl:part name="parameters" element="ns:uploadArtifact" />
    </wsdl:message>
    <wsdl:message name="uploadArtifactResponse">
        <wsdl:part name="parameters" element="ns:uploadArtifactResponse" />
    </wsdl:message>
    <wsdl:message name="IOException">
        <wsdl:part name="parameters" element="ns:IOException" />
    </wsdl:message>
    <wsdl:message name="deleteLibRequest">
        <wsdl:part name="parameters" element="ns:deleteLib" />
    </wsdl:message>
    <wsdl:message name="deleteLibResponse">
        <wsdl:part name="parameters" element="ns:deleteLibResponse" />
    </wsdl:message>
    <wsdl:message name="getDirectoryStructureRequest" />
    <wsdl:message name="getDirectoryStructureResponse">
        <wsdl:part name="parameters" element="ns:getDirectoryStructureResponse" />
    </wsdl:message>
    <wsdl:message name="JSONException">
        <wsdl:part name="parameters" element="ns:JSONException" />
    </wsdl:message>
    <wsdl:portType name="Axis2RepoManagerPortType">
        <wsdl:operation name="restartAxis2Server">
            <wsdl:input message="ns:restartAxis2ServerRequest" wsaw:Action="urn:restartAxis2Server" />
            <wsdl:output message="ns:restartAxis2ServerResponse" wsaw:Action="urn:restartAxis2ServerResponse" />
        </wsdl:operation>
        <wsdl:operation name="uploadArtifact">
            <wsdl:input message="ns:uploadArtifactRequest" wsaw:Action="urn:uploadArtifact" />
            <wsdl:output message="ns:uploadArtifactResponse" wsaw:Action="urn:uploadArtifactResponse" />
            <wsdl:fault message="ns:IOException" name="IOException" wsaw:Action="urn:uploadArtifactIOException" />
        </wsdl:operation>
        <wsdl:operation name="deleteLib">
            <wsdl:input message="ns:deleteLibRequest" wsaw:Action="urn:deleteLib" />
            <wsdl:output message="ns:deleteLibResponse" wsaw:Action="urn:deleteLibResponse" />
        </wsdl:operation>
        <wsdl:operation name="getDirectoryStructure">
            <wsdl:input message="ns:getDirectoryStructureRequest" wsaw:Action="urn:getDirectoryStructure" />
            <wsdl:output message="ns:getDirectoryStructureResponse" wsaw:Action="urn:getDirectoryStructureResponse" />
            <wsdl:fault message="ns:JSONException" name="JSONException" wsaw:Action="urn:getDirectoryStructureJSONException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Axis2RepoManagerSoap11Binding" type="ns:Axis2RepoManagerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="restartAxis2Server">
            <soap:operation soapAction="urn:restartAxis2Server" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadArtifact">
            <soap:operation soapAction="urn:uploadArtifact" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IOException">
                <soap:fault use="literal" name="IOException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteLib">
            <soap:operation soapAction="urn:deleteLib" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDirectoryStructure">
            <soap:operation soapAction="urn:getDirectoryStructure" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="JSONException">
                <soap:fault use="literal" name="JSONException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Axis2RepoManagerSoap12Binding" type="ns:Axis2RepoManagerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="restartAxis2Server">
            <soap12:operation soapAction="urn:restartAxis2Server" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadArtifact">
            <soap12:operation soapAction="urn:uploadArtifact" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IOException">
                <soap12:fault use="literal" name="IOException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteLib">
            <soap12:operation soapAction="urn:deleteLib" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDirectoryStructure">
            <soap12:operation soapAction="urn:getDirectoryStructure" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="JSONException">
                <soap12:fault use="literal" name="JSONException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Axis2RepoManagerHttpBinding" type="ns:Axis2RepoManagerPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="restartAxis2Server">
            <http:operation location="restartAxis2Server" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadArtifact">
            <http:operation location="uploadArtifact" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteLib">
            <http:operation location="deleteLib" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDirectoryStructure">
            <http:operation location="getDirectoryStructure" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Axis2RepoManager">
        <wsdl:port name="Axis2RepoManagerHttpsSoap11Endpoint" binding="ns:Axis2RepoManagerSoap11Binding">
            <soap:address location="https://localhost:9444/services/Axis2RepoManager.Axis2RepoManagerHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="Axis2RepoManagerHttpsSoap12Endpoint" binding="ns:Axis2RepoManagerSoap12Binding">
            <soap12:address location="https://localhost:9444/services/Axis2RepoManager.Axis2RepoManagerHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="Axis2RepoManagerHttpsEndpoint" binding="ns:Axis2RepoManagerHttpBinding">
            <http:address location="https://localhost:9444/services/Axis2RepoManager.Axis2RepoManagerHttpsEndpoint/" />
        </wsdl:port> 
    </wsdl:service>
</wsdl:definitions>