service-stubs/service-mgt/org.wso2.carbon.jarservices.stub/src/main/resources/JarServiceCreatorAdmin.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://jarservices.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax267="http://jarservices.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://jarservices.carbon.wso2.org">
    <wsdl:documentation>JarServiceCreatorAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax269="http://jarservices.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://jarservices.carbon.wso2.org">
            <xs:import namespace="http://jarservices.carbon.wso2.org/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="DuplicateServiceGroupException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DuplicateServiceGroupException" nillable="true" type="ax269:DuplicateServiceGroupException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="JarUploadException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="JarUploadException" nillable="true" type="ax269:JarUploadException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="upload">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceGroupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="wsdl" nillable="true" type="ax269:Resource"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="resources" nillable="true" type="ax269:Resource"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax269:UploadArtifactsResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DuplicateServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DuplicateServiceException" nillable="true" type="ax269:DuplicateServiceException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClassMethods">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="directoryPath" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="services" nillable="true" type="ax269:Service"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClassMethodsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax269:Service"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createAndDeployService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="directoryPath" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="serviceHierarchy" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="serviceGroupName" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="ax269:Service"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax268="http://jarservices.carbon.wso2.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://jarservices.carbon.wso2.org/xsd">
            <xs:import namespace="http://jarservices.carbon.wso2.org"/>
            <xs:complexType name="DuplicateServiceGroupException">
                <xs:complexContent>
                    <xs:extension base="ax268:Exception">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="JarUploadException">
                <xs:complexContent>
                    <xs:extension base="ax268:Exception">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Resource">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UploadArtifactsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="primaryResourceFilePath" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resourcesDirPath" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="services" nillable="true" type="ax267:Service"/>
                    <xs:element minOccurs="0" name="wsdlProvided" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Service">
                <xs:sequence>
                    <xs:element minOccurs="0" name="className" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="deploymentScope" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="operations" nillable="true" type="ax267:Operation"/>
                    <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="useOriginalWsdl" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Operation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="overloaded" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DuplicateServiceException">
                <xs:complexContent>
                    <xs:extension base="ax268:Exception">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getClassMethodsRequest">
        <wsdl:part name="parameters" element="ns:getClassMethods"/>
    </wsdl:message>
    <wsdl:message name="getClassMethodsResponse">
        <wsdl:part name="parameters" element="ns:getClassMethodsResponse"/>
    </wsdl:message>
    <wsdl:message name="DuplicateServiceException">
        <wsdl:part name="parameters" element="ns:DuplicateServiceException"/>
    </wsdl:message>
    <wsdl:message name="uploadServiceRequest"/>
    <wsdl:message name="uploadServiceResponse"/>
    <wsdl:message name="uploadRequest">
        <wsdl:part name="parameters" element="ns:upload"/>
    </wsdl:message>
    <wsdl:message name="uploadResponse">
        <wsdl:part name="parameters" element="ns:uploadResponse"/>
    </wsdl:message>
    <wsdl:message name="DuplicateServiceGroupException">
        <wsdl:part name="parameters" element="ns:DuplicateServiceGroupException"/>
    </wsdl:message>
    <wsdl:message name="JarUploadException">
        <wsdl:part name="parameters" element="ns:JarUploadException"/>
    </wsdl:message>
    <wsdl:message name="createAndDeployServiceRequest">
        <wsdl:part name="parameters" element="ns:createAndDeployService"/>
    </wsdl:message>
    <wsdl:portType name="JarServiceCreatorAdminPortType">
        <wsdl:operation name="getClassMethods">
            <wsdl:input message="ns:getClassMethodsRequest" wsaw:Action="urn:getClassMethods"/>
            <wsdl:output message="ns:getClassMethodsResponse" wsaw:Action="urn:getClassMethodsResponse"/>
            <wsdl:fault message="ns:DuplicateServiceException" name="DuplicateServiceException" wsaw:Action="urn:getClassMethodsDuplicateServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="uploadService">
            <wsdl:input message="ns:uploadServiceRequest" wsaw:Action="urn:uploadService"/>
            <wsdl:output message="ns:uploadServiceResponse" wsaw:Action="urn:uploadServiceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="upload">
            <wsdl:input message="ns:uploadRequest" wsaw:Action="urn:upload"/>
            <wsdl:output message="ns:uploadResponse" wsaw:Action="urn:uploadResponse"/>
            <wsdl:fault message="ns:DuplicateServiceGroupException" name="DuplicateServiceGroupException" wsaw:Action="urn:uploadDuplicateServiceGroupException"/>
            <wsdl:fault message="ns:JarUploadException" name="JarUploadException" wsaw:Action="urn:uploadJarUploadException"/>
        </wsdl:operation>
        <wsdl:operation name="createAndDeployService">
            <wsdl:input message="ns:createAndDeployServiceRequest" wsaw:Action="urn:createAndDeployService"/>
            <wsdl:fault message="ns:DuplicateServiceException" name="DuplicateServiceException" wsaw:Action="urn:createAndDeployServiceDuplicateServiceException"/>
            <wsdl:fault message="ns:DuplicateServiceGroupException" name="DuplicateServiceGroupException" wsaw:Action="urn:createAndDeployServiceDuplicateServiceGroupException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JarServiceCreatorAdminSoap11Binding" type="ns:JarServiceCreatorAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getClassMethods">
            <soap:operation soapAction="urn:getClassMethods" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DuplicateServiceException">
                <soap:fault use="literal" name="DuplicateServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="uploadService">
            <soap:operation soapAction="urn:uploadService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="upload">
            <soap:operation soapAction="urn:upload" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JarUploadException">
                <soap:fault use="literal" name="JarUploadException"/>
            </wsdl:fault>
            <wsdl:fault name="DuplicateServiceGroupException">
                <soap:fault use="literal" name="DuplicateServiceGroupException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createAndDeployService">
            <soap:operation soapAction="urn:createAndDeployService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="DuplicateServiceException">
                <soap:fault use="literal" name="DuplicateServiceException"/>
            </wsdl:fault>
            <wsdl:fault name="DuplicateServiceGroupException">
                <soap:fault use="literal" name="DuplicateServiceGroupException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JarServiceCreatorAdminSoap12Binding" type="ns:JarServiceCreatorAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getClassMethods">
            <soap12:operation soapAction="urn:getClassMethods" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DuplicateServiceException">
                <soap12:fault use="literal" name="DuplicateServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="uploadService">
            <soap12:operation soapAction="urn:uploadService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="upload">
            <soap12:operation soapAction="urn:upload" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JarUploadException">
                <soap12:fault use="literal" name="JarUploadException"/>
            </wsdl:fault>
            <wsdl:fault name="DuplicateServiceGroupException">
                <soap12:fault use="literal" name="DuplicateServiceGroupException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createAndDeployService">
            <soap12:operation soapAction="urn:createAndDeployService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="DuplicateServiceException">
                <soap12:fault use="literal" name="DuplicateServiceException"/>
            </wsdl:fault>
            <wsdl:fault name="DuplicateServiceGroupException">
                <soap12:fault use="literal" name="DuplicateServiceGroupException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JarServiceCreatorAdminHttpBinding" type="ns:JarServiceCreatorAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getClassMethods">
            <http:operation location="getClassMethods"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getClassMethods"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getClassMethods"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadService">
            <http:operation location="uploadService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="uploadService"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="uploadService"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="upload">
            <http:operation location="upload"/>
            <wsdl:input>
                <mime:content type="text/xml" part="upload"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="upload"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createAndDeployService">
            <http:operation location="createAndDeployService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="createAndDeployService"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JarServiceCreatorAdmin">
        <wsdl:port name="JarServiceCreatorAdminHttpsSoap11Endpoint" binding="ns:JarServiceCreatorAdminSoap11Binding">
            <soap:address location="https://111.223.172.244:9443/services/JarServiceCreatorAdmin.JarServiceCreatorAdminHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="JarServiceCreatorAdminHttpsSoap12Endpoint" binding="ns:JarServiceCreatorAdminSoap12Binding">
            <soap12:address location="https://111.223.172.244:9443/services/JarServiceCreatorAdmin.JarServiceCreatorAdminHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="JarServiceCreatorAdminHttpsEndpoint" binding="ns:JarServiceCreatorAdminHttpBinding">
            <http:address location="https://111.223.172.244:9443/services/JarServiceCreatorAdmin.JarServiceCreatorAdminHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>